

<body>
    <h1>Sorteador</h1>

    <div class="card">
        <div class="fields">
            <div class="input-group">
                <label>Total de Resultados</label><br>
                <input type="number" value="1" id="totalresult">
            </div>
            <div class="input-group">
                <label>Menor Valor</label><br>
                <input type="number" value="1" id="menorvalor">
            </div>
            <div class="input-group">
                <label>Maior valor</label><br>
                <input type="number" value="10" id="maiorvalor">
            </div>
            <button onclick="sortear()">Sortear</button>
        </div>
        <div class="results">
            <h2>Resultado</h2>

            <div class="results-value">
                <!-- <div class="result-value">12</div> -->

            </div>
            
        </div>
       
    </div>

    <script src="js/sorteio.js"></script>
</body>

</html>